@{
    ViewData["Title"] = "Home Page";
}

<script src="~/js/twitter.js"></script>

<script type="text/javascript">

    // other option: Can use signalr to see real time data.

    //$(document).ready(function() {

    //    setInterval(PopulateData, 1000);
    //});

    //function PopulateData() {
    //    PopulateTotalTweetsReceived();
    //    PopulateAverageTweetsPerMinute();
    //}

    //function PopulateTotalTweetsReceived() {
    //    $.ajax({
    //        type: 'GET',
    //        url: '/Home/GetTotalTweetsReceived',
    //        data: {},
    //        success: function(data) {
    //            $('#totalTweetsReceived').text(data.totalTweetsReceived);
    //        }
    //    });
    //}

    //function PopulateAverageTweetsPerMinute() {
    //    $.ajax({
    //        type: 'GET',
    //        url: '/Home/GetAverageTweetsPerMinute',
    //        data: {},
    //        success: function(data) {
    //            $('#averageTweetsPerMinute').text(data.averageTweetsPerMinute);
    //        }
    //    });
    //}

</script>

<div class="text-center">
    <span> <label class="display-2">Total tweets received:</label>&nbsp&nbsp<label id="totalTweetsReceived" class="display-2 fw-bold" /></span>
    <br />
    <label class="display-2">Average tweets per minute: </label>
     <br />
    <div class="row">        
        <div class="col-12">
            <canvas id="averageTweetPerMinuteCanvas"></canvas>
        </div>
    </div>
    <div class="row">        
        <div class="col-12">
            <label style="color:red" id="errorMessage"></label>
        </div>
    </div>
</div>


