@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript">

     ///other option: Can use signalr to see real time data.

    $(document).ready(function() {
        setInterval(PopulateData, 1000);
    });
    function PopulateData() {
        PopulateTotalTweetsReceived();
        PopulateAverageTweetsPerMinute();
    }
    function PopulateTotalTweetsReceived() {
        $.ajax({
            type: 'GET',
            url: '/Home/GetTotalTweetsReceived',
            data: {},
            success: function(data) {
                $('#totalTweetsReceived').text(data.totalTweetsReceived);
            }
        });
    }
    function PopulateAverageTweetsPerMinute() {
        $.ajax({
            type: 'GET',
            url: '/Home/GetAverageTweetsPerMinute',
            data: {},
            success: function(data) {
                $('#averageTweetsPerMinute').text(data.averageTweetsPerMinute);
            }
        });
    }
</script>
<div class="text-center">
    <label class="alert-warning">Data will be refreshed each one second. If the total tweets received or average tweets per minute is zero, please check log in folder <b>\TweetsAnalysis\TweetsAnalysis.Web\Logs</b>&nbsp or check the <b>ClientId</b> and <b>ClientSecret</b> in the <b>TwitterSettings</b> to find the rootcause.</label>
    <br />
    <span> <label class="display-4">Total tweets received:</label>&nbsp&nbsp<label id="totalTweetsReceived" class="display-3 fw-bold" /></span>
    <br />
    <span> <label class="display-4">Average tweets per minute:</label>&nbsp&nbsp<label id="averageTweetsPerMinute" class="display-3 fw-bold" /></span>
   
</div>


